:root{
	--main-bg: #000;
	--content-bg: #333;
	--text: #FFF;
	--link: #F00;
	--page-nav-bg: #333;
	--page-nav-text: #FFF;
	--active-page-nav-bg: #777;
	--active-page-nav-text: #FFF;
	--hover-page-nav-bg: #FFF;
	--hover-page--nav-text: #000;
}
body {
	background-color: var(--main-bg);
	color: var(--text);
	font-family: 'Source Code Pro', monospace;
	font-size: 100%;
	line-height: 1.5;
	margin: 0;
}
.homepage-content {
	align-content: center;
	text-align: center;
}
p code {
	background-color: #272822;
	color: var(--text);
	padding: 0.25rem;
}
header#prime, footer{
	background-color: var(--content-bg);
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	overflow: auto;
}
a {
	color: var(--link);
}
article#content{
	background-color: var(--content-bg);
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	overflow: auto;
	border-radius: 8px;
}
.pagination {
  display: block;
  width: 100%;
  min-width: 380px;
  font-size: 1.0em;
  margin-left: -40px;
}
.pagination li{
  display: block;
  float: left;
}
.pagination a{
  color: var(--page-nav-text);
  background: var(--page-nav-bg);
  text-decoration: none;
  padding: 5px 7px;
  margin-right: 2px;
  text-decoration: none;
  border-radius: 2px;
}
.pagination li a:hover {
  background-color: var(--hover-page-nav-bg);
  color: var(--hover-page-nav-text);
  text-decoration: none;
}
.pagination li.active a {
  background-color: var(--active-page-nav-bg);
  color: var(--active-page-nav-text);
  text-decoration: none;
}
[data-pseudo-content]::before {
  content: attr(data-pseudo-content);
}

.header-link {
	text-decoration: none;
}

.blinky {
	animation: blinker 1s steps(1, start) infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
